{%extends 'base.html'%}
{%block login%}
<div class="container">
    <form action="">
        <div class="contianer">
            <h3>Register New User Here</h3>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="text" class="form-control" name="password">
            </div>
            <button class="form-control btn btn-success">Register</button>
            <label for="">Already Have account <a href="/login">Login Here</a></label>
        </div>

    </form>
</div>
{%endblock login%}